<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="Affordable family and events photography without compromise on quality and time">
<meta name="keywords" content="Photography,Bladel,Eindhoven,Reusel,Hapert,Eersel,Foto,Photo,Veldhoven,Familie,Family,Kids,Kinderen,Portraid,Wedding,Bruiloft,Sasha,Tychkovska">
<meta name="author" content="Jeroen van der Heijden">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>Sasien Photography</title>
#if @debug:
<link rel="stylesheet" href="css/lib/bootstrap.css" />
<link rel="stylesheet" href="css/lib/font-awesome.css" />
<link rel="stylesheet" href="css/style.css" />
#else:
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/lib/font-awesome.min.css" />
<link rel="stylesheet" href="css/style.min.css" />
#end
<link rel="shortcut icon" href="favicon.ico"/>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

#include views/home.template
#include views/portfolio.template
#include views/about.template
#include views/page-not-found.template

<div class="container-fluid">
  #include nav.template
  <div id="view"></div>
  #include footer.template
</div>

#if @debug:
<script src="js/lib/jquery-2.1.1.js"></script>
<script src="js/lib/jquery.mobile.custom.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/routie.js"></script>
<script src="js/sasien.js"></script>
<script src="js/wall.js"></script>
<script src="js/gallery.js"></script>
<script src="js/app.js"></script>
<script src="js/router.js"></script>
#else:
<script src="js/lib/jquery-2.1.1.min.js"></script>
<script src="js/lib/jquery.mobile.custom.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/routie.min.js"></script>
<script src="js/app.min.js"></script>
#end
</body>
</html>