<meta name="description" content="Affordable family and events photography without compromise on quality and time">
<meta property="og:url" content="http://sasien.nl/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Sasien Photography" />
<meta property="og:description" content="Affordable family and events photography without compromise on quality and time" />
<meta property="og:image" content="http://sasien.nl/img/fb-sasien.jpg" />