#extend base.template:

#macro META:
<meta name="description" content="Affordable family and events photography without compromise on quality and time">
#end

#macro BODY:
#include views/home.template
#include views/portfolio.template
#include views/about.template
#include views/page-not-found.template

<div class="container-fluid">
  #include nav.template
  <div id="view"></div>
  #include footer.template
</div>
#end

#end