#extend base.template:
#macro BODY:
#include views/home.template
#include views/portfolio.template
#include views/about.template
#include views/page-not-found.template

<div class="container-fluid">
  #include nav.template
  <div id="view"></div>
  #include footer.template
</div>

#end
#end